.animated-gradient-text {
  position: relative;
  width: 100%;
  margin-top: 30px;
  text-align: center;
  border-radius: 1.25rem;
  font-weight: 500;
  font-size: 50px;
  backdrop-filter: blur(10px);
  transition: box-shadow 0.5s ease-out;
  overflow: hidden;
}

.gradient-overlay {
  background-size: 300% 100%;
  animation: gradient linear infinite;
  border-radius: inherit;
  z-index: 0;
  pointer-events: none;
}

.gradient-overlay::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  border-radius: inherit;
  width: calc(100% - 2px);
  height: calc(100% - 2px);
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #060010;
  z-index: -1;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.text-content {
  display: inline-block;
  position: relative;
  z-index: 2;
  background-size: 300% 100%;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  animation: gradient linear infinite;
}

.title-description {
  font-size: 20px;
  position: relative;
  margin-bottom: 60px;
  text-align: center;
  align-items: center;
}

.os-description {
  font-size: 22px;
  position: relative;
  font-weight: bold;
  text-align: center;
  align-items: center;
  margin-bottom: 15px;
}

.os-selector {
  position: relative;
  text-align: center;
  align-items: center;
  margin-bottom: 30px;
}

.security-description {
  font-size: 22px;
  position: relative;
  font-weight: bold;
  text-align: center;
  align-items: center;
  margin-bottom: 15px;
}

.security-selector {
  position: relative;
  text-align: center;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
  margin-bottom: 30px;
}

.browser-description {
  font-size: 22px;
  position: relative;
  font-weight: bold;
  text-align: center;
  align-items: center;
  margin-bottom: 15px;
}

.browsers-selector {
  position: relative;
  text-align: center;
  align-items: center;
  margin-bottom: 30px;
}

.social-description {
  font-size: 22px;
  position: relative;
  font-weight: bold;
  text-align: center;
  align-items: center;
  margin-bottom: 15px;
}

.social-selector {
  position: relative;
  text-align: center;
  align-items: center;
  margin-bottom: 30px;
}

.hyprland-description {
  font-size: 22px;
  position: relative;
  font-weight: bold;
  text-align: center;
  align-items: center;
  margin-bottom: 15px;
}

.hyprland-customization-selector {
  position: relative;
  text-align: center;
  align-items: center;
  margin-bottom: 30px;
}

.multimedia-description {
  font-size: 22px;
  position: relative;
  font-weight: bold;
  text-align: center;
  align-items: center;
  margin-bottom: 15px;
}

.multimedia-selector {
  position: relative;
  text-align: center;
  align-items: center;
  margin-bottom: 30px;
}

.productivity-description {
  font-size: 22px;
  position: relative;
  font-weight: bold;
  text-align: center;
  align-items: center;
  margin-bottom: 15px;
}

.productivity-selector {
  position: relative;
  text-align: center;
  align-items: center;
  margin-bottom: 30px;
}

.devtools-description {
  font-size: 22px;
  position: relative;
  font-weight: bold;
  text-align: center;
  align-items: center;
  margin-bottom: 15px;
}

.devtools-selector {
  position: relative;
  text-align: center;
  align-items: center;
  margin-bottom: 30px;
}

.gaming-description {
  font-size: 22px;
  position: relative;
  font-weight: bold;
  text-align: center;
  align-items: center;
  margin-bottom: 15px;
}

.gaming-selector {
  position: relative;
  text-align: center;
  align-items: center;
  margin-bottom: 30px;
}

.btn {
  margin-right: 10px;
}